<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"/>
    <title>Login - SpeedPonto</title>
    <link href="https://fonts.googleapis.com/css2?family=Opens+Sans:ital,wght@0,400;1,600&family=Ubuntu&Family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
    <meta name="author" content="Cassio H. P.">
</head>
<body>

    <div class="login-form">

        <div class="container">
            <div class="main-div">
                <div class="texto-header">
                    <img src="/img/loginicone.png" style="padding-bottom: 15px;">
                    <p>Inisira suas credenciais para acessar o sistema.</p>
                </div>

                <form method="post" th:object="${funcionario}" action="/login"> 

                    <div class="alert alert-danger" role="alert" th:if="${msg}">
                        <strong th:text="${msg}"></strong>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{cpf}" placeholder="CPF">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" th:field="*{senha}" placeholder="Insira sua senha">
                    </div>

                    <div class="cadastro">
                        <br>
                        <a th:href="@{cadastro}">Não tem cadastro? Clique aqui.</a>
                        <br>
                        <br>
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>
                    <button type="reset" class="btn btn-danger">Limpar</button>


                </form>

            </div>
        </div>

    </div>


    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>